* {
    box-sizing: border-box;
}

header{
    background-color: black;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display: flex;
    /* background-color: #991b46; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,185,119,1) 47%, rgba(33,159,207,1) 100%);
    padding-left: 70px;
    position: sticky ;
    top:0px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

nav a:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}

.banner{
    background-image: url(../Pictures/RKG\ Learning\ System.gif);
    height: 15vw;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 75%;
    background-attachment: fixed;
}

section h2 span{
    background:#8d2a8f;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.flex-align-right{
    margin-left: auto;
}

.intro{
    background-repeat: no-repeat;
    background-size: auto;
    color: rgb(245, 241, 241);
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

.intro2 img{
    width: 40%;
    background-repeat: no-repeat;
    background-size: auto;
    color: rgb(245, 241, 241);
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

.intro2{
    display: grid;
}

.intro2 span{
    position: relative;
    top: -230px;

}

main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 100vh;
}



video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

.container {
    display: flex;
    flex-wrap: center;
}

.displaypic img{
    position: relative;
    left: 440px;
    width: 235px;
}

#Messor{
    left: 258px;
    position: relative;
    top: 30px;
    font-weight: bold;
}

#Ankit{
    left: 275px;
    position: relative;
    top: 30px;
    font-weight: bold;
}

/* #Govind{
    left: -65px;
    position: relative;
    top: 30px;
    font-weight: bold;
}
#Kashish{
    position: relative;
    left: -76px;
    top: 30px;
    font-weight: bold;
}
#Rajarshi{
    position: relative;
    left: -58px;
    top: 30px;
    font-weight: bold;
} */

/* @keyframes spin3D {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
  } */

  .displaypic:hover {
    animation-name: spin3D;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: ease-in-out;
  }

  .Videos_Heading{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
}

.Chapter{
      font-size: 30px;
      /* margin-bottom: 60px; */
  }

  .Networking_div{
      margin-bottom: 60px;
  }

.Topic_name{
      font-size: 20px;
    }

.Topic_Video{
    width: 800px;

}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

footer a:hover{
    color: red;
}

.Team_Credit{
    color: white;
    float: right;
    position: relative;
    top: 20px;
    right: 50px;
}

 @media screen and (max-width: 700px){
     nav{
         flex-direction: column;
         align-items: center;
         padding-left: 0;

     }
     .flex-align-right{
         margin-left: 0;
     }
 }


 .contact_us{
    background-color: lightgray;
    padding: 10px 25px 20px 25px;
    box-sizing: auto;
    border: 5px;
    border-radius: 20px;
    margin: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

ol {
    position:absolute;
    top: 71%;
    left: 49%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
}

ol li {
    list-style: none;
}

ol li a {
    position: relative;
    width:80px;
    height:80px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #ffffff);
    transition: .5s;
}

ol li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
}

ol li a .fab {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

ol li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

ol li:nth-child(2) a:hover .fab {
    color: #00aced;
}

ol li:nth-child(3) a:hover .fab {
    color: #dd4b39;
}

ol li:nth-child(4) a:hover .fab {
    color: #007bb6;
}

ol li:nth-child(5) a:hover .fab {
    color: #e4405f;
}


.intro_grid {
    font-family: 'Noto Sans', sans-serif;
    background: #f4f4f4;
    padding: 4em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.intro_grid>* {
    padding: 3%;
}

.intro_text{
    font-size: xx-large;
}

.intro_heading{
    text-decoration: underline;
}
